<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card table-changes">
                  <div class="card-header">
                      <div class="float-left">
                      <h4 class="card-title ">User List</h4>
                    </div>
                    <button class="btn btn-primary float-right" 
                    routerLink="/adduser"> Add User</button>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Mobile Number
                                  </th>
                                  <th>Action</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Richard
                                      </td>
                                      <td>
                                          India
                                      </td>
                                      <td>
                                          Chennai
                                      </td>
                                      <td class="text-center">
                                          7890987611
                                      </td>
                                      <td class="text-center"><i routerLink="/viewuser" class="material-icons text-warning">visibility</i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Singapore
                                      </td>
                                      <td>
                                          Woodland
                                      </td>
                                      <td class="text-center">
                                          6543211211
                                      </td>
                                      <td class="text-center"><i routerLink="/viewuser" class="material-icons text-warning">visibility</i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td class="text-center">
                                          8907654321
                                      </td>
                                      <td class="text-center"><i routerLink="/viewuser" class="material-icons text-warning">visibility</i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td class="text-center">
                                          6543211234
                                      </td>
                                      <td class="text-center"><i routerLink="/viewuser" class="material-icons text-warning">visibility</i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen
                                      </td>
                                      <td class="text-center">
                                         7890098778
                                      </td>
                                      <td class="text-center"><i routerLink="/viewuser" class="material-icons text-warning">visibility</i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td class="text-center">
                                          9876543211
                                      </td>
                                      <td class="text-center"><i routerLink="/viewuser" class="material-icons text-warning">visibility</i></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                
                    <div class="col-lg-6 col-6">
                        <div ngbDropdown>
                            <button class="btn btn-success" ngbDropdownToggle type="button">Download</button>
                         
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&lt;&lt;</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">&gt;&gt;</a>
                              </li>
                            </ul>
                          </nav>
    
                </div>
            </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
</div>